<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>購物車</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body class="container">
  <nav class="navbar">
    <ul class="nav nav-tabs navbar-nav navbar-fixed-top">
    <li><a href="/">購物首頁</a></li>
    <li><a href="/new-entry">購物車</a></li>
    </ul>
    </nav>
  <h1>
    <a href="/new-entry" class="btn btn-primary">
      購物車
    </a>
    <a href="/cart" class="btn btn-primary">
      購物車內容
    </a>
</h1>