<% include header %>
<h1>index2</h1>
<div id="booklist"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<script type="text/javascript" src="/index2.js" ></script>
<% include footer %>